@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 210, 215, 218;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container {
  @apply max-w-[1320px] mx-auto px-4 min-[1320px]:px-0;
}

.ant-form-item-label {
  @apply pb-1 !important ;
}
.ant-form-item {
  @apply mb-4 !important ;
}
.ant-input:hover {
  @apply border-white outline-none !important ;
} 

.otp-modal .ant-modal-close {
  @apply hidden !important ;
}

.ant-input:hover {
  @apply border-white outline-none outline-0 !important ;
}

.ant-input:focus {
  @apply border-white outline-none !important ;
}

.fij {
  @apply flex justify-between items-center;
}
.fi {
  @apply flex items-center;
}